.homepageheader{
    background-color: #ff9999;
    padding: 8px;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin:16px;
    width: 100%;

}
.releasedMovieFilterContainer{
    width: 24%; 
    justify-content: center;

    
}
.releasedMovieContainer{
    width: 76%;
}


