.homepageheader{
    background-color: #ff9999;
    padding: 8px;
    font-size: 1rem;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin: 16px;
    /* width:100%; */
    /*flex-direction: row ;*/
    justify-content: space-between 
}

.button{
   position: relative;
    align-self: center;
}

