.flex-container{
    position: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.backButton{
    margin-left: 24px;
    margin-top:8px;
    margin-bottom: 0px;
    height: 24px;

}

    